# ============================
# Change every time
# ============================

# This is a text file containing list of sample names
samples_file=

# This is the working directory for all input/output files
main_dir=

# This is where the fastq files are located
# where fastq files are named {sample}_R1.fastq.gz, {sample}_R2.fastq.gz for paired end
fastq_dir=

# ============================
# Change if different species
# ============================

# Abbreviation format examples: Plasmodium falciparum -> p_fal, Saccharomyces cerevisiae -> s_cer
species_abbr=p_fal

# This is where the reference genome is located
ref_dir=/projects/winzeler/GENOME_RESOURCES/pf/p_fal_ref

# This is the reference genome file
ref_fasta=$ref_dir/p_fal.fasta

# ===========================
# Don't change
# ===========================

# This is where GenomeAnalysisTK.jar is located
gatk_dir=/opt/biotools/GenomeAnalysisTK/3.5

# This is where picard.jar is located
picard_dir=/opt/biotools/picard